footer.footer
  .wrapper__page.wrapper__footer
    .footer__left.footer__auth
      .icon-lock
    .footer__right.footer__copyright
      p.copyright 2017. Это шаблон сайта-портфолио. Пожалуйста, не воруйте его
