footer.footer
  .wrapper__page
    .footer__left.footer__auth
      img.auth__img(src="img/icons/auth.png", alt="")
    .footer__right.footer__copyright
      p.copyright 2017. Это шаблон сайта-портфолио. Пожалуйста, не воруйте его
