header.header
  .wrapper__big
    .header__logo
      a(href="#")
        img.logo(src="assets/img/logo.png", alt="")
    .header__social
      ul.social__list
        each soc in ['vk','tw', 'fb', 'git']
          li(class="social__item")
            div(class=`icon-${soc}`)