.aside__menu
  nav.menu
    ul.menu__list
      li.menu__item
        a.menu__link(href="index.html") Обо мне
      li.menu__item
        a.menu__link(href="mywork.html") Мои работы
      li.menu__item
        a.menu__link(href="contact.html") Связаться со мной
