h2.article__header.content__header Мои работы
ul.mywork__list
  li.mywork__item
    .mywork__item-work
      img.work__image(src="", alt="")
      a.work__link(href="http://site.ru" target="_blank") site.ru
      p.work__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id adipisci voluptatum, harum repudiandae error explicabo
  li.mywork__item
    .mywork__item-work
      img.work__image(src="", alt="")
      a.work__link(href="http://site.ru" target="_blank") site.ru
      p.work__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id adipisci voluptatum, harum repudiandae error explicabo
  li.mywork__item
    .mywork__item-work
      img.work__image(src="", alt="")
      a.work__link(href="http://site.ru" target="_blank") site.ru
      p.work__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id adipisci voluptatum, harum repudiandae error explicabo
  li.mywork__item
    .mywork__item-work
      img.work__image(src="", alt="")
      a.work__link(href="http://site.ru" target="_blank") site.ru
      p.work__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id adipisci voluptatum, harum repudiandae error explicabo
  li.mywork__item
    .mywork__item-work
      img.work__image(src="", alt="")
      a.work__link(href="http://site.ru" target="_blank") site.ru
      p.work__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id adipisci voluptatum, harum repudiandae error explicabo
