form.withme__form
  label.form__label Имя
    input.withme__field.name__field(type="text" placeholder="Как к Вам обращаться")
  label.form__label Email
    input.withme__field.email__field(type="text" placeholder="Куда мне писать")
  label.form__label Сообщение
    input.withme__field.message__field(type="textarea" placeholder="Кратко в чем суть ")
  input.withme__button.button__submit.button(type="submit" value="Отправить")
  input.withme__button.button__reset.button(type="reset" value="Очистить")