/*Шрифты*/

$mainfont: fira_sansbook;
$adressfont: fira_sanslight_italic;
$deskfont: fira_sanslight;
$abouttext: fira_sansmedium;
$skillfont: proxima;

/*Размеры шрифта*/

$headertext: 27px;
$maintext: 21px;
$abouttext: 17px;
$text: 15px;
$text-min: 13px;

/*Цвета*/

$white: #ffffff;
$maincolor: #3ba8c0;
$textcolor: #4a545d;
$bgcolor: #eff3f7;