extends ../_template

block variables
  - var title = 'Связаться со мной'

block content
  .wrapper
    include ../block/_header
    section.main
      .wrapper__page
        aside.main__nav
          include ../block/_menu
          include ../block/_contacts
        .main__content
          include ../block/_withme
    include ../block/_footer